html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
hr{

    border: 2px solid wheat;
   margin: 0;
   
    
}
h4{
    color:white ;
}

.container-fluid{
    background-color: #000000;
    
}
.imga{
    height: 100%;
    
}
.text{
    font-family: 'Satisfy', cursive;
font-size: 5rem;
}
.po{
    font-size: 3rem;
    color: white;
}
.first{
padding:0;

}
.second{
    background-color: #e5580c;
   
}
.navbar-brand{
padding-left: 10px;
font-size: 30px;
font-family: 'Noto Sans', sans-serif;
color: rgb(255, 255, 255);


}
.nav-item{
    padding-right: 20px;
    font-size:20px ;
    font-weight: 400;
    

 
}
.col{
    color: #fff;
}
.third{
    padding: 6%;
}
.container-fluid{
    padding: 3%;
    color:#fff;
}
.btn{
    margin-top: 50px;
    margin-right: 30px;
}
.nav-link{
    color: rgb(255, 254, 254);
    font-weight: 700;
}

.cola{
    height: 500px;
   
}
.at{
    padding-top: 19%;
}





#shows{
    background-color:#e5580c;
    text-align: center;

}
.img{
    height: 500px;
    width: 900px;
    padding: 2%;
}
.caption{
    color: rgb(0, 0, 0);
    background-color: #e5580c;
    font-weight: 600;
}
.row{
    padding: 7% 7% 7% 7%;
    text-align: center;
}
.aaaaa{
    background-color: #a8b9dd;
}
.rj{
    height: 220px;
}
.sk{
    height: 220px;
}
.card{
    padding: 5%;
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    border:1 px solid rgba(255,255,255,0.18);
    border-radius: 32px;
   
}
.linka{
    text-decoration: none;
    color: rgb(252, 250, 250);
}
.btn-outline-light:hover{
    color:#ffffff;
    background-color: #48767dbc;
}
.linka:hover{
    color: #ffffff;
}
.desa{
    font-size: 15px;
    padding-top: 15%;
    color: rgb(235, 202, 83);
}
.cards{
    padding: 2%;
   
   
}
#ssss{
    
    background-color: black;
}

.xxxx{
    border: 2px solid white;
    border-radius: 100%;
    height: 150px;
    width: 150px;
}
.small-world{
    font-family: 'Lobster', cursive;
    padding-bottom: 3%;
    text-decoration: underline;
    color: #ffffff;
}
#show{
    background-color: #e5580c;
}
.favshows{
    color: #000000;
}
.favshows:hover{
    color: #ffffff;
}
.aboutme{
    background-color: #101010;;
    color: #fff;
    background-image: url(/images/profile.jpg);
    height: 600px;
    width: 100%;
    background-position:center;
    background-repeat:no-repeat;
    padding: 5%;
}
abbr[title]{
    border-bottom: none;
    cursor: inherit;
    text-decoration: none;
  }
.inspire{
    text-align: center;
}
.footer{
    
    padding: 1%;
    text-align: center;
    background-color: #a8b9dd;
    
}
.foot{
    margin: 10px;
}
.foot:hover{
    background-color: #a8b9dd;
}
.linkb{
    text-decoration: none;
    color: black;
    font-weight: 700;
}
.linkb:hover{
color: #000000;
}





















@media screen and (max-device-width: 480px) and (orientation: portrait){
.imga{
        height:300px;
        margin-top: 19%;
      }
.btn{
    padding-bottom: 0px;
    
}
.container-fluid{
    text-align: center;
}
.img{
    height:150px;
    width: 300px;
}
}





